<div class="pintrestbody">
	<header>
		<div class="header">
			<ul>

				<li>
					<a href="#"> 
					<%= image_tag("pintrest_logo.png", :class => "pintrestlogo") %> 
					</a>
				</li>

				<li>
						<a href="#">
						<%= image_tag("pintrest_search.jpg", :class => "pintrestsearch") %>
						</a>
				</li>

				<li>
					<input class="pintrest_search_bar" type="search" name="Search" value="Search">
				</li>

				<li>
					<a href="#">
					<%= image_tag("pintrest_trending.jpg", :class => "nav_bar") %>
					</a>
				</li>

				<li>
					<a href="#">
					<%= image_tag("pintrest_profile.png", :class => "nav_bar") %>
					</a>
				</li>

				<li>
					<a href="#">
					<%= image_tag("pintrest_message.png", :class => "nav_bar") %>
						</a>
				</li>

		</ul>
			
		</div>
	</header>

	<content>

	<div class="photos">

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("parent_tricks.jpg", :class => "pictures") %>
			</a>
			<p>101 top parenting tricks! Oprah covers every single one!</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("puppy.jpg", :class => "pictures") %>
			</a>
			<p>Animals tricking humans by pretending to be different animals!</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("hedgehog.jpg", :class => "pictures") %>
			</a>
			<p>Fun ways to find out if you are a twin</p>
		</div>

	</div>

	<div class="photos_2">

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("dog_twins.jpg", :class => "pictures") %>
			</a>
			<p>Some of the best ways to exfoliate your skin after a shower </p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("elbow.jpg", :class => "pictures") %>
			</a>
			<p>pictures of hard-to-do tasks</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("bert.jpg", :class => "pictures") %>
			</a>
			<p>Real life versions of your favorite cartoon characters invading our minds!</p>
		</div>

	</div>

	<div class="photos_3">

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("cat_dog.jpg", :class => "pictures") %>
			</a>
			<p>Sometimes we need a good snuggle, even from an enemy. -Jared Romney</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("dog_bag.jpg", :class => "pictures") %>
			</a>
			<p>Great Halloween ideas!</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("princess.jpg", :class => "pictures") %>
			</a>
			<p>Remember the time you opened your front camera on accident?</p>
		</div>

	</div>

	<div class="photos_4">

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("monkey.jpg", :class => "pictures") %>
			</a>
			<p>How to look fabulous this summer</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("tiny_bear.jpg", :class => "pictures") %>
			</a>
			<p> Grooming tricks!</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("piggy_jpg.jpg", :class => "pictures") %>
			</a>
			<p>Should vegans even exist??</p>
		</div>


	</div>

	<div class="photos_5">

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("pink_eye.jpg", :class => "pictures") %>
			</a>
			<p>Pink eye outbreak</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("nicki.jpg", :class => "pictures") %>
			</a>
			<p>Botched celebrity plastic surgeries</p>
		</div>

		<div id="pictures_2">
			<a href="#">
			<%= image_tag("r2d2.jpg", :class => "pictures") %>
			</a>
			<p>Nerd style bathroom ideas</p>
		</div>

	</div>

	</content>
</div>